.table-container{
  overflow-x: auto;
  width: 100%;
  height: 400px;
}
.routetable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
}

.routetable th {
  background-color: #062e61;
  color: white;
}

.routetable th:first-child {
  border-top-left-radius: 12px;
}

.routetable th:last-child {
  border-top-right-radius: 12px;
}

.routetable tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

.routetable tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}
.boxs1 {
  background-color: #cddaeb;
}

.boxs2 {
  background-color: #F8F9FA;
}

.routeform {
  width: 100%;
  height: 90%;
  display: flex;
  margin-top: 5%;
}

.modal-overlay-route {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content-route {
  background: white;
  border-radius: 20px;
  width: 75%;
  height: 90%;
  overflow: hidden;
}

.modal-close {
  float: right;
  border-radius: 16px;
  cursor: pointer;

}
.closeimg{
  height: 20px;
 }

.add-route {
  border-radius: 12px;
  border: 1px solid;
  overflow-y: auto;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none;
  width: 100%;
  height: 240px;
  margin-left: 15%;
  margin-bottom: 36px;
  
}

.add-route::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }

.form-s {
  max-width: 600px;
  max-height: 500px;

}

.form-btn{
  margin-left: 50%;
}

.btn-primary{
  background-color: #062e61;
  color: white;
  border-radius: 14px;
  padding: 10px;
}

.btn-light {
  background-color: #e0e0e0;
  color: #000;
  border-radius: 14px;
  padding: 10px;


}
.pagination{
  top:90%;
  position: absolute;
  left: 50%;
  border: none;
  cursor: pointer;
  font-weight: bold;
}