.drivertable{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
}

.drivertable th {
  background-color: #062e61;
  color: white;
}

.drivertable th:first-child {
  border-top-left-radius: 12px;
}

.drivertable th:last-child {
  border-top-right-radius: 12px;
}

.drivertable tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

.drivertable tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

.boxs1{
    background-color: #cddaeb;
    
  }
  .boxs2{
    background-color: #F8F9FA;
  }
  
.driverform{
 padding: 0%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 50px;
 height: 600px;
 width: 500px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  /* padding: 20px; */
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
}

.modal-close {
  float: right;
  padding: 12px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #c42b1c;
  color: white;
  
}

.pagination{
  margin-left: 50%;
  margin-top: 15px;
}

.pgbtn {
  background-color: #062e61; /* Dark blue background */
  color: white;
  padding: 5px 10px; /* Padding to make the buttons larger */
  border: none; /* Remove default border */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1rem; /* Larger font size */
  margin: 0 5px; /* Spacing between buttons */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.pgbtn.btn-primary {
  background-color: #062e61; /* Active button color */
  color: white;
}

.pgbtn:hover {
  background-color: #060f17; /* Slightly darker blue on hover */
}
